<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <h1>Edit Tape Page</h1>
    <form action="/<%=tape.id%>?_method=PUT" method="POST">
          <label for="artist">Artist:</label>
          <input type="text" name="artist" value="<%=tape.artist%>" />
          <label for="title">Title:</label>
          <input type="text" name="title" value="<%=tape.title%>" />
          <label for="year">Year:</label>
          <input type="text" name="year" value="<%=tape.year%>" />
          <label for="coverImg">coverImg:</label>
          <input type="text" name="coverImg" value="<%=tape.coverImg%>" />
          <label for="cassetteImg">coverImg:</label>
          <input type="text" name="cassetteImg" value="<%=tape.cassetteImg%>" />
          <br>
        <input type="submit" value="Submit">
      <form>
       <button type="button" name="button">
        <a href="/">Back</a>
       </button>
    </form>
  </body>
</html>
